body {
    font-family: $font-1;
    background-color: $first-color;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); // Subtle shadow for depth
    margin-top: 120px;

    p {
        font-size: 16px;
        line-height: 1.6;
        color: #555;
        margin-bottom: 20px;
    }

    h1 {
        text-align: center;
        color: #333;
        font-size: 24px;
    }

    h2 {
        color: #333;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .photo-container {
        text-align: center;
        margin: 20px 0;
        
        img {
            max-width: 80%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1); // Subtle shadow around the photo
        }
    }

    .button-container {
        text-align: center;
        margin: 40px 0;
        
        .btn-main {
            display: inline-block;
            padding: 15px 30px;
            font-size: 18px;
            color: white;
            background-color: #44a083;
            border-radius: 50px;
            text-decoration: none;
            text-align: center;
            transition: all 0.3s ease;

            &:hover {
                background-color: darken(#44a083, 10%);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
        margin-top: 50px;
    }

    .btn-main {
        font-size: 16px;
        padding: 12px 24px;
    }
}