
body {
    font-family: $font-1;
    background-color: #B7CECE ;
    margin: 0;
    padding: 0;
    
    
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px 40px 20px 20px;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 100px;
    

    h1 {
        text-align: center;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;

            &:focus {
                border-color: blue;
                outline: none;
            }
        }

        textarea {
            resize: vertical;
        }
    }

    .btn-submit {
        color: white;
            background-color: #44a083;
            width: 200px;
            height: 50px;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            transition: all .3s ease;
            font-size:30px;


        &:hover {
            background-color: dark;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            
        }
    }
}